<div class="card">
  <h3 class="card-header">LOGIN</h3>
  <form class="card-body" id="loginForm">
    <label>Username</label>
    <input type="text" autofocus="true" id="usernameLogin" />

    <label>Password</label>
    <input type="password" autofocus="true" id="passwordLogin" />

    <button type="submit" id="submitButtonLogin">LOGIN</button>
    <h4>Don't have an account?</h4>
    <a href="/signup">SIGNUP</a>
  </form>
</div>>

<script src="/javascript/login.js"></script>