
{{> postInfo post }}
{{> comments post.comments}}

<div class="card">
    <h3 class="card-header">Comment Here</h3>
    <div class="form-group col-md-10 offset-1">
    <form class="card-body commentForm" id="commentForm">

        <label class="form-control">Comments:</label>
        <input id="comment" name="commentBody" class="formInput form-control" rows="5"/>

        <button type="submit" id="commentBtn" class="btn btn-dark mt-2">Submit</button>
                
</div>
    </form>
    
</div>
{{!-- <div>
        <button type="button" class="deletePostBtn btn" class="btn">Delete</button>

</div> --}}

<div class="card">
  <h3 class="card-header">Edit Post</h3>
  <form class="card-body editPostForm">
    <div class="form-group col-md-10 offset-1">
    <label class="form-control">Title:</label>





    <input type="text" name="post-title" value="{{post.title}}" class="form-control" rows="5"/>
    </div>
    <div class="form-group col-md-10 offset-1">
    <label class="form-control" for="content">Content:</label>
    <input
    rows="5"
      name="content"
      type="text"
      value="{{post.content}}"
      class="form-control"
    />
    <button type="button" class="editPostBtn btn btn-dark mt-2" >Update</button>
  </form>

</div>
</div>
<div>
  <h3 class="card-header">Delete Post</h3>
        <button type="button" class= "form-group col-md-1 offset-1 deletePostBtn btn btn-dark mt-2">Delete</button>

</div>

{{!-- needs javascript for delete post --}}
<script src="/JS/deletePost.js"></script>

{{!-- needs javascript for comment submit --}}
<script src="/JS/newComment.js"></script>
<script src="/JS/editPost.js"></script>